html, body {
    height: 100%;
    background-color: #2b2e3b;
    color: white;
}
.footer-map {
	width: 100%;
	height: 300px;
}
.right-social-icons img,
.footer-icon img {
    width: 30px;
}
.slider-img {
    width: 100%;
}
